<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Create an account to get started</p>
  <a href="/api/v1/user/register" class="btn btn-dark btn-lg">Create an Account</a>
</div>